ion-content {
    --background: #000000; 
    color: white; 
  }
  
  ion-item {
    --color: white; 
    --background: transparent; 
  }
  
  ion-label {
    color: white;
  }
  
  ion-input {
    color: white; 
  }
  
  ion-title {
    color: white; 
  }
  
  ion-button {
    --background: #00BFFF; 
    --color: white;
  }