<app-navbar></app-navbar>

<ion-content id="main-content" class="dark-theme">
  <div class="search-container">
    <ion-searchbar 
      class="custom-searchbar" 
      placeholder="¿Qué estás buscando?" 
      (ionInput)="filterProducts($event)">
    </ion-searchbar>
  </div>

  <div class="header-container">
    <h1 class="section-title">EUROPEAS</h1>
    <ion-button class="filter-button" fill="outline">
      Filtrar <ion-icon name="filter"></ion-icon>
    </ion-button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let product of filteredProducts">
        <div class="product-card">
          <div class="product-image-container">
            <img *ngIf="product.FotoUrl" [src]="product.FotoUrl" alt="Producto" class="product-image" />
          </div>
          <div class="product-info">
            <h4 class="product-title">{{ product.Nombre }}</h4>
            <p class="product-description">{{ product.Descripcion }}</p>
            <p class="product-price">${{ product.Precio }}</p>
            <p class="product-discount" *ngIf="product.PrecioTransferencia">
              ${{ product.PrecioTransferencia }} con Transferencia o depósito bancario
            </p>
            <div class="button-container">
              <ion-button (click)="goToProductDetail(product.ID_Producto)" class="buy-button" expand="block">COMPRAR</ion-button>
              <ion-button (click)="goToProductDetail(product.ID_Producto)" class="details-button" fill="clear">
                <ion-icon name="eye-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>