<app-navbar></app-navbar>
<ion-content [fullscreen]="true">

<h1 id="contacto">CONTACTO</h1>

<div class="info" id="main-content">
<h4 class="subtitulo">Nombre</h4>
<ion-textarea label="Inserte su Nombre y Apellido" labelPlacement="floating" fill="outline" placeholder="Inserte su Nombre y Apellido" class="texto"></ion-textarea>

<h4 class="subtitulo">Email</h4>
<ion-textarea label="Inserte su email" labelPlacement="floating" fill="outline" placeholder="Inserte su email" class="texto"></ion-textarea>

<h4 class="subtitulo">Telefono</h4>
<ion-textarea label="Inserte su telefono" labelPlacement="floating" fill="outline" placeholder="Inserte su telefono" class="texto"></ion-textarea>

<h4 class="subtitulo">Mensaje</h4>
<ion-textarea label="Inserte su mensaje" labelPlacement="floating" fill="outline" placeholder="Inserte su mensaje" class="texto" id="mensaje"></ion-textarea>
</div>

<div id="botonEnvio">
<ion-button>Enviar</ion-button>
</div>
</ion-content>
