<app-navbar></app-navbar>

<ion-content *ngIf="product" class="dark-theme">
  <div class="product-container">

    <div class="breadcrumb">
      <span>Inicio</span> > 
      <span>CAMISETAS</span> > 
      <span>CAMISETAS RETRO</span> > 
      <span>SELECCIONES</span> >
      <span class="current">{{ product.Nombre }}</span>
    </div>

    <div class="content-wrapper">
      <div class="product-image">
        <img [src]="product.FotoUrl" [alt]="product.Nombre" />
      </div>

      <div class="product-info">
        <h1>{{ product.Nombre }}</h1>
        
        <div class="price-container">
          <p class="main-price">${{ product.Precio }}</p>
          <p class="transfer-price">${{ calculateTransferPrice(product.Precio) }} con Transferencia o depósito bancario</p>
          <p class="discount-tag">10% de descuento pagando con Transferencia o depósito bancario</p>
        </div>

        <div class="size-selector">
          <p class="size-label">Talle:</p>
          <ion-select [(ngModel)]="selectedTalle" interface="action-sheet" class="custom-select">
            <ion-select-option *ngFor="let talle of availableSizes">{{ talle }}</ion-select-option>
          </ion-select>
        </div>

        <div class="quantity-selector">
          <div class="quantity-controls">
            <button (click)="decrementQuantity()" class="quantity-btn">-</button>
            <span class="quantity-value">{{ quantity }}</span>
            <button (click)="incrementQuantity()" class="quantity-btn">+</button>
          </div>
          <ion-button expand="block" class="add-to-cart-btn" (click)="addToCart()">
            AGREGAR AL CARRITO
          </ion-button>
        </div>

        <div class="details-button">
          <ion-button expand="block" fill="clear" class="view-details-btn">
            Ver más detalles
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>