.breadcrumb {
    font-size: 14px;
    color: #888;
    margin: 10px 0;
  }
  
  .section-title {
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
  }
  
  ion-card {
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
    ion-row {
      padding: 5px 0;
    }
  }
  