<app-navbar></app-navbar>
<ion-content [fullscreen]="true">
  <div class="total-section">
    <div class="price">$ {{totalAmount}}</div>
  </div>

  <div class="payment-methods">
    <div class="section-title">Medio de pago</div>
    
    <button class="payment-option">
      <ion-icon name="card-outline"></ion-icon>
      <span>Tarjeta de crédito y débito</span>
    </button>
    
    <button class="payment-option">
      <ion-icon name="cash-outline"></ion-icon>
      <span>Efectivo</span>
    </button>
    
    <button class="payment-option">
      <ion-icon name="card-outline"></ion-icon>
      <div>
        <div>Transferencia o depósito bancario</div>
        <div class="discount">10% de descuento</div>
      </div>
    </button>
    
    <button class="payment-option">
      <img src="https://i.ibb.co/fFVcMCn/result.png" alt="MercadoPago" style="width: 100px;">
    </button>
  </div>

  <div class="notes-section">
    <div class="section-title">Notas de pedido</div>
    <ion-textarea
      placeholder="Inserte sus notas aquí"
      rows="4"
    ></ion-textarea>
  </div>

  <div class="contact-info">
    <div class="section-title">Celular</div>
    <ion-input
      type="tel"
      placeholder="Escriba aquí su número de celular"
    ></ion-input>
  </div>

  <ion-button expand="block" (click)="presentConfirmAlert()">
    Confirmar compra
  </ion-button>
</ion-content>