<app-navbar></app-navbar>
<ion-content [fullscreen]="true">
<div class="MDP" id="main-content">
  <h1 class="titulo">Medios de pago</h1>
  <ion-button fill="outline" class="botonMP" expand="block"><ion-icon name="card-outline" class="iconMDP"></ion-icon>Tarjeta de credito y debito</ion-button>
  <ion-button fill="outline" class="botonMP" expand="block"><ion-icon name="cash-outline" class="iconMDP"></ion-icon>Efectivo</ion-button>
  <ion-button fill="outline" class="botonMP" expand="block">
    <ion-icon name="card-outline" class="iconMDP"></ion-icon>
    <div>Transferencia o deposito bancario<br><span class="descuento">10% de descuento</span></div>
  </ion-button>
  <a href="https://www.mercadopago.com.ar/home" target="_blank"><ion-button fill="outline" class="botonMP" expand="block"><ion-img id="logomp" src="https://i.ibb.co/fFVcMCn/result.png"></ion-img></ion-button></a>
</div>
  

 <div class="comentarioPedido">
  <h2 class="titulo">Notas de pedido</h2>
  <ion-input id="notasPedido" label="Inserte sus notas aqui." label-placement="floating" fill="outline" placeholder="Inserte texto"></ion-input>
</div>


<div class="numTelefono">
  <h4 class="titulo">Celular</h4>
  <ion-input id="celular" label="Escriba aqui su numero de celular." label-placement="floating" fill="outline" placeholder="Inserte numeros"></ion-input>
</div>
<ion-button expand="full" color="primary" (click)="presentConfirmAlert()">
  Confirmar compra
</ion-button>
</ion-content>
