#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  #barraNav{
    --background: black;
  }
  
  .descuento {
    color: #00d9ff;
  }
  
  #logo{
    width: 60px;
    height: auto;
  }
  
  .titulo{
    font-weight: bold;
    font-style: italic;
  }
  
  .MDP{
    padding: 50px;
  }
  
  .iconMDP{
    margin-right: 15px;
  }
  
  .comentarioPedido{
    padding: 50px;
  }
  
  .numTelefono{
    padding: 50px;
  }
  
  #logomp{
    width: 100px;
    height: auto;
  }
  
  .botonMP{
    --border-color: rgb(46, 46, 46);
    --color: white;
    padding: 7px;
  }
  
  #notasPedido{
    height: 200px;
    --border-color: rgb(46, 46, 46);
  }
  
  #celular{
    --border-color: rgb(46, 46, 46);
  }
  /* Specific styles for mobile */
@media only screen and (max-width: 768px) {
    ion-content {
      padding: 20px;
    }
  
    .MDP {
      padding: 10px;
    }
  
    .comentarioPedido {
      padding: 10px;
    }
  
    .numTelefono {
      padding: 10px;
    }
  
    ion-button {
      font-size: 14px;
      padding: 10px;
    }
  
    ion-icon {
      font-size: 18px;
    }
  }
  