<app-navbar></app-navbar>

<ion-content id="main-content">
  <div class="hero-section">
    <img src="../../../assets/img/banner appsnativas.png" alt="Hero" class="hero-image" />
    <div class="hero-text">
      <h1>#TRANSPIRALACASACA</h1>
    </div>
  </div>

  <div class="cta-buttons">
    <ion-button expand="block" color="primary">Compra tu producto</ion-button>
    <ion-button expand="block" color="primary">Envía un mensaje</ion-button>
    <ion-button expand="block" color="primary">Súmate a nuestra comunidad</ion-button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2>CAMISETAS RETRO SUDAMERICANAS</h2>
        <ion-card (click)="goToSudamericana()">
        <img src="../../../assets/img/CAMISETAS RETRO SUDAMERICANAS.png" alt="Sudamerican Jerseys" class="category-image" />
      </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h2>CAMISETAS RETRO EUROPEAS</h2>
        <ion-card (click)="goToEuropeas()">
        <img src="../../../assets/img/CAMISETAS RETRO EUROPEAS.png" alt="European Jerseys" class="category-image" />
      </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h2>CAMISETAS RETRO SELECCIONES</h2>
        <ion-card (click)="goToSelecciones()">
          <img src="../../../assets/img/CAMISETAS RETRO SELECCIONES.png" alt="Selections Jerseys" class="category-image" />
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Carrusel de productos sugeridos -->
    <h2>SUGERENCIAS</h2>
    <div class="carousel-wrapper">
      <div class="carousel">

        <div class="carousel-item" *ngFor="let producto of productosSugeridos">
          <img *ngIf="producto.FotoUrl" [src]="producto.FotoUrl" alt="Producto" class="carousel-image" />
          <p class="carousel-title">{{ producto.Nombre }}</p>
        </div>
      </div>
    </div>
  </ion-grid>

  <div class="contact-section">
    <h2>CONTACTANOS</h2>
    <ion-item>
      <ion-input type="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-button expand="block" color="dark">Enviar</ion-button>
  </div>
</ion-content>
